<div class="flex items-center h-full">
  <div class="flex w-full justify-between items-start gap-6 max-sm:flex-wrap max-sm:gap-20">
    <div
      class="w-1/2 text-left text-white flex flex-col items-start pr-4 gap-5 max-sm:w-full"
    >
      <h1 class="text-4xl tracking-wider font-medium max-sm:text-3xl">
        Обмін Валют 5/5. <br />
        Обмінник, якому можна довіряти
      </h1>

      <p class="text-lg font-thin">Швидко, надійно, вигідно.</p>

      <button
        class="bg-yellow-300 rounded-lg p-3 px-5 tracking-wide font-light text-sm text-black"
      >
        Залишити заявку
      </button>
    </div>

    <div class="w-1/2 text-white rounded max-sm:w-full">
      <div class="flex flex-col gap-4">
        <div class="flex gap-2 pb-2 border-b border-yellow-300 w-full">
          <div class="text-left font-medium text-sm tracking-wide grow">
            Валюта до гривні
          </div>

          <div class="text-left font-medium text-sm tracking-wide w-[75px]">
            Купівля
          </div>

          <div class="text-left font-medium text-sm tracking-wide w-[75px]">
            Продаж
          </div>
        </div>

        <div class="flex flex-col gap-2 w-full">
          <div
            *ngFor="let rate of rates"
            class="w-full flex items-center gap-2 pb-2"
          >
            <div
              class="grow flex items-center font-bold text-xl gap-1 max-sm:text-sm"
            >
              <img
                [src]="'assets/images/rates/' + rate.code + '.png'"
                [alt]="rate.code + 'Image'"
                width="24"
                height="20"
              />

              <div>
                {{ rate.name }},
                <span class="uppercase">{{ rate.code }}</span>
              </div>
            </div>

            <div class="w-[75px] flex items-center gap-1 text-lg">
              <span>{{ rate.buy }}</span>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#dc2626"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 6 9 12.75l4.286-4.286a11.948 11.948 0 0 1 4.306 6.43l.776 2.898m0 0 3.182-5.511m-3.182 5.51-5.511-3.181"
                />
              </svg>
            </div>

            <div class="flex items-center w-[75px] gap-1 text-lg">
              <span>{{ rate.sell }}</span>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#22c55e"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
