.page-wrapper {
  background-image: url("https://lh3.googleusercontent.com/p/AF1QipNcPDfCR3nEcqa3X-P2wxMGn7k7MycW97JrN060=w1080-h608-p-no-v0");
  position: relative;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100% 100%;
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.calculator-section-wrapper {
  height: 180px;
  position: relative;
  top: -90px;
  z-index: 1;
  //background-image: url("../assets/images/13338.jpg");
  background: white;
  flex: 1 0 auto;

  @media (max-width: 640px) {
    top: 0;
    height: auto;
  }
}
