<div class="h-full flex flex-col max-sm:h-auto">
  <div class="page-wrapper">
    <div
      class="py-10 w-3/4 flex flex-col h-full mx-auto max-sm:p-4 max-sm:w-full gap-4"
    >
      <app-header></app-header>

      <app-rates></app-rates>
    </div>
  </div>

  <div class="max-sm:p-4">
    <div
      class="w-3/4 mx-auto shadow-lg px-4 rounded calculator-section-wrapper flex justify-center items-center max-sm:p-4 max-sm:w-full"
    >
      <div>
        <div class="flex justify-center items-end gap-5 max-sm:flex-wrap">
          <div class="max-sm:w-full">
            <label for="buy" class="block text-sm font-medium tracking-wide">
              Віддаєте
            </label>

            <div class="relative mt-2 rounded-md shadow-sm">
              <input
                type="text"
                name="buy"
                id="buy"
                class="block w-full rounded-md border text-sm py-3 pl-2 pr-20 text-gray-900 border-gray-300 placeholder:text-gray-400 outline-1 outline-yellow-300"
                placeholder="0.00"
              />

              <div
                class="absolute inset-y-[1px] right-2 flex items-center border-l"
              >
                <img src="assets/images/rates/usd.png" />
                <label for="sell" class="sr-only">Currency</label>
                <select
                  id="sell"
                  name="sell"
                  class="h-full uppercase rounded-md border-0 bg-transparent py-0 pr-2 outline-0 font-medium"
                >
                  <option *ngFor="let rate of rates">{{ rate.code }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="flex mb-3 max-sm:hidden">
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5"
                />
              </svg>
            </button>
          </div>

          <div class="max-sm:w-full">
            <label for="price" class="block text-sm font-medium tracking-wide">
              Отримуєте
            </label>

            <div class="relative mt-2 rounded-md shadow-sm">
              <input
                type="text"
                name="price"
                id="price"
                class="block w-full rounded-md border text-sm py-3 pl-2 pr-20 text-gray-900 border-gray-300 placeholder:text-gray-400 outline-yellow-300"
                placeholder="0.00"
              />

              <div
                class="absolute inset-y-[1px] right-2 flex items-center border-l"
              >
                <img src="assets/images/rates/uah.png" />
                <label for="currency" class="sr-only">Currency</label>
                <select
                  id="currency"
                  name="currency"
                  class="uppercase h-full rounded-md border-0 bg-transparent py-0 pr-2 outline-0 font-medium"
                >
                  <option
                    *ngFor="
                      let rate of [
                        {
                          code: 'uah',
                          name: 'Доллар США',
                          buy: 37.95,
                          sell: 38.25
                        }
                      ]
                    "
                  >
                    {{ rate.code }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <button
            class="bg-gray-950 rounded-lg p-3 px-5 tracking-wide font-light text-sm text-white"
          >
            Залишити заявку
          </button>
        </div>

        <div
          class="mt-3 text-xs text-gray-400 flex justify-center items-center gap-2 leading-none max-sm:w-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#fddf47"
            class="w-[24px] h-[24px] basis-[48px]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z"
            />
          </svg>

          <div class="text-left">
            Шановні клієнти, зафіксуйте курс - замовте валюту онлайн. Заявка
            актуальна 1 годину з моменту розміщення.
            <br />
            Додаткова інформація за телефоном:
            <a href="tel:050 555 5122" class="text-sm font-light underline"
              >050 555 5122</a
            >. Операції можуть бути обмежені за сумою
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-about></app-about>

<app-contacts></app-contacts>
